*.pyc
*__pycache__
*.ipynb_checkpoints
.vscode

# Logs
*.log

# Datasets
*.wav
*.npy
*.pickle

# Shell Scripts
*.sh

# virtualenv
env/

# Models 
vocoder/saved_models/*
encoder/saved_models/*
synthesizer/saved_models/*

