<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        function send_request(){
            console.log('here');
            const URL = "http://localhost:5000/api/test";
            const data={
                target_text : document.getElementById("t1").value,
                target_speaker : document.getElementById("t2").value
            };

            console.log(data);
    
            const params = {
                body : data,
                method : "POST",
                headers : {
                    "content-type" : "application/json; charset=UTF-8"
                }
            };
            fetch(URL, params);

            document.getElementById("audio_test").setAttribute("src", "http://localhost:5000/api/test");
            document.getElementById("audio_test").setAttribute("type", "audio/mp3");
            
            let music = document.getElementById('music');
            music.load();
            music.play();
            

    
        }
    
    </script>
</head>

<body>
    <input id = "t1" type="text" placeholder="Enter text"/>
    <input id = "t2" type="text" placeholder="Enter speaker"/>
    <button type="submit" onclick="send_request()">submit</button><br/><br/>
    <div>
    <audio id="music" controls preload="all">
        <source id= "audio_test" src="" type="">
        Your browser does not support the audio element.
    </audio>
    
    </div>
</body>
</html>